#loadpage {
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex; /* flex 造福世界 */
  justify-content: center;
  align-items: center;
  position: absolute; /* z-index：awa */
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

body {
  margin: 0;
}